body {
    background-image: url(../image/fon.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rgb {
    color: red;
    color: rgba(red, green, blue, alpha);
}

.huh {
    margin-left: 289px;
    margin-bottom: 0px;
}

.ahah {
    width: 258px;
    height: 362px;
    border: 2px solid black;
    border-radius: 10px;
}

.ah {
    width: 258px;
    height: 362px;
    border: 3px solid rgb(88, 241, 255);
    border-radius: 20px;
}

.da {
    width: 600px;
    border-radius: 100px;
    margin-left: 450px;
    border: dashed;
}

.h {
    font-family: 'Caveat', cursive;
    color: rgb(0, 0, 0);
    border: double;
    border-radius: 25px;
    border-color: azure;
    padding: 5px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-width: 5px;
}

main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.256);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 20px;
}

.block1 {
    margin-left: 50px;
    margin-right: 50px
}

.coc {
    color: black;
    background-color: rgba(255, 255, 255, 0.599);
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
    text-align: center;
    border-radius: 1px;
    border: dotted;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.qw {
    margin-left: 20px;
}

.karta {
    margin-left: 83px;
}

img:hover {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

.banner {
    background-color: black;
    width: 100%;
    height: 67px;
    margin-bottom: 10px;
    border: 2px solid rgba(252, 136, 136, 0.83);
    border-radius: 5px;
}

.logo_png {
    color: white;
    padding: 15px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.pon {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}

.banner_conteiner {
    display: flex;
    margin-right: 50px;
}

.banner_menu {
    position: relative;
    margin-left: 100;
    color: white;
    margin-inline-start: auto;
}

.pon_g a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'Bradley Hand', cursive;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover::after {
    height: calc(100% + 8px)
}

.conts {
    margin-right: 85%;
}